.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding: 5%;
}

.motorbikeTable{
  width: 100%;
}

.motorbikeTable_body{
  font-size: large;
}

tr{
  height: 3rem;
  background-color: antiquewhite;
  padding:7px;
  margin:2px
}

th{
  background-color: black;
  color: lightgray;
  padding:7px;
  margin:2px
}

